<div class="navbar-container">
  <!-- Logo -->
  <div class="logo-section">
    <img src="https://github.com/Sai630414/agriculture-recomendation-system/blob/master/src/assets/logo.png?raw=true" alt="Logo" class="logo-img" />
    <h1><span style="color:#7ca636;">Agro</span><span style="color:#6999a7;">Pilot</span></h1>
  </div>

  <!-- Navigation -->
  <nav class="nav-links">
    <!-- Home -->
    <div class="nav-item" [class.active]="activeNavItem === 'home'" (click)="setActive('home')">
      <img src="https://img.icons8.com/ios-filled/50/000000/home.png" width="18" />
      <span class="text">హోమ్</span>
    </div>

    <!-- Products Dropdown -->
    <div class="dropdown">
      <div class="nav-item" (click)="toggleDropdown(1)">
       <img src="https://img.icons8.com/ios-filled/50/000000/services.png" width="18" />

        <span class="text">సర్వీసెస్</span>
        <span class="arrow">{{ isDropdown1Open ? '▲' : '▼' }}</span>
      </div>
      <div class="dropdown-content" *ngIf="isDropdown1Open">
        <a (click)="onDropdownClick('Product A')">పంట సిఫార్సు</a>
        <a (click)="onDropdownClick('Product B')">మొక్కల సిఫార్సు</a>
        <a (click)="onDropdownClick('Product C')">ఎరువు సిఫార్సులు</a>
      </div>
    </div>

    <!-- Resources Dropdown -->
    <div class="dropdown">
      <div class="nav-item" (click)="toggleDropdown(2)">
       <img src="https://img.icons8.com/ios-filled/50/000000/language.png" width="18" />
        <span class="text">భాషలు</span>
        <span class="arrow">{{ isDropdown2Open ? '▲' : '▼' }}</span>
      </div>
      <div class="dropdown-content" *ngIf="isDropdown2Open">
        <a (click)="onDropdownClick('Docs')">English-US</a>
        <a (click)="onDropdownClick('Guides')">తెలుగు</a>
        <a (click)="onDropdownClick('Tutorials')">हिन्दी</a>
      </div>
    </div>
  </nav>

  <!-- Login -->
  <div >
 <button class="login-btn"
  [routerLink]="[{ outlets: { teluguloginOutlet: ['logintelugu'] } }]"    (click)="openLogin()">
  <img src="https://img.icons8.com/ios-filled/50/ffffff/user.png" width="16" />
  <span>లాగిన్</span>
</button>


  </div>
</div>
